lab11.xsd

<?xml version="1.0" encoding="UTF-8" ?> 
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
     <xs:element name="countrys"> 
<xs:complexType> 
<xs:sequence> 

	 <xs:element name="country" maxOccurs="unbounded"> <!--Этот элемент может повторяться много раз, без ограничений -->
 <xs:complexType> 
 <xs:sequence>  
     <xs:element name="name" type="xs:string"/> 
     <xs:element name="people" type="xs:string"/> 
</xs:sequence> 
</xs:complexType> 
</xs:element>

</xs:sequence> 
</xs:complexType> 
</xs:element>

</xs:schema> 
